@media screen and (max-width: 576px) {
  body {
    margin: 0 auto;
    background: #000000;
  }
  .head-back-color {
    background: linear-gradient(rgb(27, 27, 27) 100%, #77777700 0%);
  }
  .navbar {
    margin: 70px 25px;
    margin-bottom: 1px;
    width: calc(100% - 40px);
  }

  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  /* banner section responsive */
  .banner-container {
    width: 100%;
    flex-direction: column;
  }
  .banner-content {
    width: 78%;
    margin-left: 25px;
  }
  .banner-content h1 {
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 800;
  }
  .banner-content p {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 38px;
    margin-bottom: 50px;
  }

  .primary-btn {
    width: 120%;
    display: flex;
    gap: 12px;
    padding: 0px 0px;
  }
  .primary-btn button {
    font-size: 23px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }
  .first-btn,
  .second-btn {
    width: 350px;
    height: 70px;
  }
  .club {
    display: none;
  }
  .banner-pic {
    width: 100%;
    margin-top: 100px;
    margin-top: 0 auto;
  }
  .banner-pic img {
    width: 460px;
    height: 700px;
    margin-left: -157px;
    object-fit: cover;
    filter: brightness(95%);
  }
  .text-500 {
    right: 44px;
    top: 37px;
  }
  .text-500.banner-text h1 {
    font-size: 40px;
    font-weight: 800;
  }
  .text-500.banner-text p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.8px;
  }
  .banner-text {
    padding: 12px 16px;

    border-radius: 15px;
    text-align: start;
  }
  .text-350 {
    left: 54px;
    bottom: 297px;
    padding: 20px 22px;
  }
  .text-350 h1 {
    text-align: start;
    font-size: 23px;
  }
  .text-350 p {
    margin-top: 8px;
    opacity: 0.65;
  }

  /* Hero section start here */
  .hero-content {
    width: 403px;
    margin: 0 auto;
    margin-top: -140px;
    padding: 16px;
  }
  .hero-content h2 {
    font-size: 40px;
  }
  .hero-content p {
    line-height: 35px;
    opacity: 0.5;
    margin-top: 10px;
  }
  .img-container {
    width: 85%;
    margin-top: 25px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }
  .round-text {
    width: 310px;
    margin-bottom: 55px;
    text-align: center;
  }
  .round-text h3 {
    font-size: 25px;
    font-weight: 500;
  }
  .round-text p {
    font-size: 18px;
    line-height: 25px;
  }
  .round-img {
    margin-bottom: 30px;
    border: 5px solid #191919;
    border-radius: 50%;
  }
  .round-img img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: -4px;
  }
  /* run container start here */
  .run-container {
    padding: 30px 90px 45px 20px;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    gap: 1px;
  }
  .run-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px 22px 37px 10px;
    margin-left: 72px;
  }
  .run-content h1 {
    font-size: 42px;
  }
  .run-content p {
    line-height: 33px;
    font-size: 19px;
    opacity: 0.5;
    font-weight: 400;
  }
  .run-img img {
    width: 412px;
    height: 268px;
    margin-left: 70px;
  }

  /* Training section */

  .training-section {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }
  .training-content {
    width: 458px;
    color: var(--font-color);
    margin-bottom: 65px;
  }
  .training-content h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .training-content p {
    font-size: 20px;
    line-height: 34px;
  }
  #images11 {
    width: 50%;
    height: 185px;
  }

  #images12 {
    width: 50%;
    height: 185px;
  }
  #images13 {
    display: none;
  }
  #images14 {
    width: 45%;
    height: 185px;
  }
  #images15 {
    width: 55%;
    height: 185px;
  }
  #images16 {
    display: none;
  }
  #N1 {
    top: 130px;
    left: 20px;
  }
  #N2 {
    top: 29px;
    left: 329px;
  }
  #N3 {
    display: none;
  }
  #N4 {
    top: 311px;
    left: 25px;
  }
  #N5 {
    top: 314px;
    left: 282px;
  }
  #N6 {
    display: none;
  }
  /* bmi-calculator section */
  .bmi-section {
    width: 100%;
  }
  .bmi-content {
    max-width: 451px;
    color: var(--font-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .bmi-content h1 {
    font-size: 46px;
  }
  .bmi-content p {
    line-height: 33px;
    font-size: 20px;
  }

  .bmi-calculator {
    display: flex;
    flex-direction: column;
  }
  .bmi-chart {
    margin-bottom: -240px;
    margin-top: 0px;
  }
  .bmi-chart h2 {
    font-size: 24px;
    margin: 20px 20px 26px 20px;
  }
  .bmi-chart table {
    width: 470px;
    margin: 20px 60px 20px 20px;
  }

  .input-content {
    width: 450px;
    margin-left: 20px;
  }
  .input-content h2 {
    font-size: 22px;
  }
  .input-content p {
    margin-top: 20px;
    line-height: 34px;
  }
  .input-fild {
    margin: 1px 20px 1px 20px;
  }
  .calc {
    width: 300px;
    display: flex;
    gap: 12px;
    padding: 0px 0px;
  }

  /* team container start here */
  .team-content {
    margin: 0 auto;
    text-align: center;
    margin-top: 110px;
    width: 368px;
  }
  .team-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .team-img {
    width: 441px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .team-img img {
    width: 100%;
    border-radius: 20px;
  }
  .name {
    font-size: 26px;
  }
  #images1 {
    display: none;
  }
  #images2 {
    order: 1;
  }
  #images3 {
    order: 3;
  }
  #images4 {
    display: none;
  }
  #images5 {
    order: 2;
  }
  #images6 {
    order: 4;
  }

  #name1 {
    display: none;
  }
  #name2 {
    top: 323px;
    left: 57px;
  }
  #name3 {
    top: 1115px;
    left: 60px;
  }
  #name4 {
    display: none;
  }
  #name5 {
    top: 722px;
    left: 61px;
  }
  #name6 {
    top: 1518px;
    left: 60px;
  }

  /* footer start here */
  footer {
    width: 100%;
    margin-top: 50px;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
}
  .fitness {
    width: 404px;
  }

  .Fit {
    font-size: 100px;
  }
  .fitness p {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  .get-started {
    width: 100%;
    margin-left: 0px;
    margin-top: -10px;
  }
  .last-started {
    width: 100%;
    margin-top: -25px;
  }
  .get {
    margin-top: 40px;
  }
  .get li {
    font-size: 32px;
    font-weight: 300;
  }
  .right {
    text-align: left;
    opacity: 0.5;
    font-size: 26px;
  }
  /* end script */
}
