@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: rgb(0, 0, 0);
  --font-color: #ffffff;
  --border: 1px solid red;
  --primary-btn-color: #e6533c;
  --paragraph-color: rgba(255, 255, 255, 0.7);
}
body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

header {
  margin: auto;
}
.head-back-color {
  padding-top: 5px;
}
.navbar {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 48px;
}
.brand-name {
  font-size: 32px;
  font-weight: 800;
  color: #e6533c;
}
.menu {
  display: flex;
  color: var(--font-color);
  gap: 69px;
  align-items: center;
  padding: 2px 15px 2px 1px;
  border: 0.7px solid rgb(82, 77, 77);
  border-radius: 35px;
}
.menu li {
  list-style: none;
  font-weight: 400;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.85);
}
.menu li > button {
  background-color: var(--primary-btn-color);
  color: var(--font-color);
  font-size: 22px;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 46px;
  border: 0;
}

/* mobile menu icons bar end here */
.menu-icon {
  display: none;
}
.menu-icon img {
  width: 30px;
  height: 28px;
}

/* mobile menu icons bar end here  */

/* Banner section start here */

.banner-container {
  /* width: 75%; */
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  color: var(--font-color);
}
.banner-content {
  width: 50%;
}
.banner-content h1 {
  font-size: 100px;
  margin-top: 82px;
  margin-bottom: 25px;
  font-weight: 900;
}
.shape {
  font-family: "Dancing Script", cursive;
}
.banner-content p {
  font-size: 1.15rem;
  color: var(--paragraph-color);
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 15px;
}
.primary-btn {
  margin-top: 50px;
}
.primary-btn button {
  font-size: 22px;
  padding: 18px 60px 18px 60px;
  border: none;
  border-radius: 60px;
  color: var(--font-color);
  cursor: pointer;
}
.primary-btn .second-btn {
  border: 1px solid white;
}
.first-btn {
  background-color: var(--primary-btn-color);
}
.second-btn {
  background-color: black;
}

.banner-pic {
  position: relative;
  width: 50%;
}
.banner-pic img {
  position: relative;
  width: 425px;
  height: 770px;
  margin-left: 60px;
  left: 196px;
  object-fit: cover;
}

.text-500 {
  position: absolute;
  top: 154px;
  right: -65px;
  text-align: center;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.banner-text {
  padding: 18px 31px;
  background: #383838;
  border: 1.2px solid #4b4b4b;
  border-radius: 15px;
  text-align: start;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}

.text-500.banner-text h1 {
  font-size: 47px;
  font-weight: 800;
}
.text-500.banner-text p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.8px;
}
.text-500 p {
  color: var(--paragraph-color);
}
.text-350 {
  position: absolute;
  left: 165px;
  bottom: 93px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 27px 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
}
.text-350 p {
  color: var(--paragraph-color);
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
  margin-left: 4px;
}

/* banner section end here */

section {
  margin: 0 auto;
}
.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  margin-top: 135px;
  margin-bottom: 150px;
}
.img-container {
  display: flex;
  margin-top: 57px;
}
.hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content {
  text-align: center;
  margin-bottom: 30px;
}

.hero-content h2 {
  font-size: 60px;
  font-weight: 900;
}
.hero-content p {
  font-size: 18px;
  color: var(--paragraph-color);
  font-weight: 300px;
  margin-top: 25px;
}
.round-img {
  margin-bottom: 30px;
}
.round-img img {
  width: 230px;
  border-radius: 50%;
}

.round-text {
  text-align: center;
}
.round-text h3 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 10px;
}
.round-text p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--paragraph-color);
}

/* hero section end here */

/* run container start here */
.run-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 30px 40px 30px 60px;
  gap: 300px;
  justify-content: center;
  align-items: center;
  background: #222222;
  border-radius: 20px;
}
.run-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.run-content h1 {
  color: var(--font-color);
  font-size: 71px;
  font-weight: 900;
}
.run-content p {
  color: var(--paragraph-color);
  line-height: 28px;
}
.j-btn button {
  padding: 22px 67px 22px 67px;
  border-radius: 35px;
  font-size: 30px;
}
.run-img img {
  width: 500px;
  height: 420px;
  image-rendering: auto;
  border-radius: 35px;
}

/* training section began here */
.training-section {
  max-width: 1520px;
  margin: 0 auto;
  margin-top: 100px;
}
.training-content {
  width: 808px;
  color: var(--font-color);
  margin-bottom: 65px;
}
.training-content h1 {
  font-size: 64px;
  line-height: 100px;
}
.training-content p {
  font-size: 19px;
  color: var(--paragraph-color);
}
.training-img {
  position: relative;
}
.flex-1 {
  display: flex;
}
.flex-2 {
  display: flex;
}

#images11 {
  background-image: url(../images/exercise1.jpg);
  background-color: rgba(6, 255, 210, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  border: none;
}
#images12 {
  background-image: url(../images/exercise2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: overlay;
}
#images13 {
  background-image: url(../images/exercise3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
#images14 {
  background-image: url(../images/exercise4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
#images15 {
  background-image: url(../images/exercise5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: overlay;
}
#images16 {
  background-image: url(../images/exercise6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: overlay;
}
#images11 {
  width: 360px;
  height: 300px;
}
#images12 {
  width: 733px;
  height: 300px;
}
#images13 {
  width: 426px;
  height: 300px;
}
#images14 {
  width: 575px;
  height: 300px;
}
#images15 {
  width: 457px;
  height: 300px;
}
#images16 {
  width: 486px;
  height: 300px;
}
.trainer-name {
  position: absolute;
  color: var(--font-color);
  font-weight: 400;
}
#N1 {
  top: 220px;
  left: 30px;
}
#N2 {
  top: 64px;
  left: 411px;
}
#N3 {
  top: 229px;
  right: 205px;
}
#N4 {
  top: 332px;
  left: 347px;
}
#N5 {
  top: 524px;
  left: 612px;
}
#N6 {
  top: 532px;
  right: 261px;
}

/* BMI Calculator section run from here */
.bmi-container {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--font-color);
}
.bmi-content {
  max-width: 1440px;
  color: var(--font-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 700px;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 433px;
}
.bmi-content h1 {
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 900;
}
.bmi-content p {
  color: var(--paragraph-color);
}
.bmi-backcolor {
  background: #222222;
}
.bmi-calculator {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 225px;
  padding: 25px 5px 30px 5px;
}
.bmi-chart {
  color: #ffffff;
  margin-top: 40px;
}

.table {
  border-collapse: collapse;
  margin-top: 75px;
  width: 524px;
  height: 348px;
}
.table th {
  width: 246px;
  font-size: 22px;
  font-weight: 500;
  padding: 16px 50px;
  border: 2px solid #373737;
  text-align: start;
  color: rgba(255, 255, 255, 0.85);
}

.table tr td {
  font-size: 20px;
  padding: 16px 40px;
  border: 2px solid #373737;
  color: rgba(255, 255, 255, 0.75);
}
.bmi-chart h2 {
  font-size: 45px;
}
.bmi-input {
  margin-top: 40px;
  color: #ffffff;
  margin-bottom: 50px;
}
.input-content h2 {
  font-size: 38px;
}
.input-content p {
  margin: 10px 0px 50px 0px;
  color: var(--paragraph-color);
  font-size: 19px;
  line-height: 30px;
}

.input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 40px);
  gap: 50px;
  margin-top: 20px;
}
.input input::placeholder {
  color: #afafaf;
  font-size: 20px;
}
.input input {
  border-radius: 10px;
}
.hight {
  margin-right: -23px;
}
.input input {
  background-color: #373737;
  border: none;
  border-radius: 10px;
  color: #afafaf;
}
.hight,
.Weight {
  padding: 38px 20px 30px 20px;
}

#option {
  height: 67px;
  padding: 15px;
  font-size: 20px;
  color: #afafaf;
  background: #373737;
  border-radius: 10px;
  border: none;
}

#option option {
  color: #afafaf;
  font-size: 30px;
}
#Activitis {
  width: calc(200% + 50px);
  color: #afafaf;
  height: 67px;
  padding: 15px;
  font-size: 20px;
  background-color: #373737;
  border-radius: 10px;
  border: none;
}
#Activitis option {
  color: #afafaf;
  font-size: 30px;
}
.calc {
  margin-top: 103px;
  width: 300px;
}
.calculate {
  width: 100%;
  font-size: 22px;
  padding: 22px 45px 18px 57px;
  border: none;
  border-radius: 60px;
  color: var(--font-color);
}

/* our team conteainer start here */

.team-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--font-color);
}
.team-content {
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
  width: 755px;
}
.team-content h1 {
  font-size: 60px;
  margin-bottom: 25px;
  font-weight: 900;
}
.team-content p {
  line-height: 35px;
  font-size: 18px;
  font-weight: 300;
  color: var(--paragraph-color);
}
.team-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 18px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  gap: 20px;
  padding: 30px;
}
.team-img img {
  width: 100%;
  height: 340px;
  border-radius: 15px;
  filter: brightness(80%);
}
.name {
  position: absolute;
  color: var(--font-color);
  font-weight: 900;
  font-size: 26px;
  font-weight: 900;
  z-index: 4;
}
#name1 {
  top: 284px;
  left: 57px;
}
#name2 {
  top: 284px;
  left: 526px;
}
#name3 {
  top: 284px;
  left: 986px;
}
#name4 {
  top: 650px;
  left: 60px;
}
#name5 {
  top: 650px;
  left: 534px;
}
#name6 {
  top: 650px;
  left: 992px;
}
.trainer {
  font-weight: 300;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}

/* gental section */

/* footer start here */

footer {
  background: #191919;
  margin-top: 110px;
}
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--font-color);
  display: flex;
  padding: 65px 10px 10px 10px;
}
.fitness {
  width: 40%;
}
.Fit {
  font-size: 85px;
  font-weight: 800;
  color: #e6533c;
}
.fitness p {
  margin-top: 25px;
  line-height: 30px;
  color: var(--paragraph-color);
  font-weight: 200;
}
.get-started {
  width: 30%;
  margin-left: 100px;
}
.get-started h1 {
  font-size: 42px;
}
.last-started {
  width: 30%;
}
.last-started h1 {
  font-size: 42px;
}
.get {
  margin-top: 45px;
}
.get li {
  list-style: none;
  line-height: 65px;
  opacity: 0.5;
  font-size: 30px;
}
hr {
  opacity: 0.25;
}
.right-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px 0px 20px 0px;
}
.right {
  color: var(--font-color);
  font-size: 24px;
  opacity: 0.7;
  text-align: center;
  margin: 50px 0px;
}
